.sign-in-container {
  height: 80vh;
  .sign-in-title {
    font-size: 20px;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
  }
  .sign-in-form {
    width: 20%;
    .sign-up-container{
      font-size: 12px;
      .sign-up-btn{
        text-decoration: underline;
        text-underline-offset: 2px;
        cursor: pointer;
      }
    }
  }
}
