<div class="sign-in-container d-flex flex-column align-items-center justify-content-center px-2 py-3">
  <form *ngIf="!isSignup" class="mt-2 sign-in-form" (submit)="onLogin(); $event.preventDefault()">
    <div class="sign-in-title text-center">Sign In</div>
    <div class="mb-2">
      <label class="form-label">User Id</label>
      <input type="text" class="form-control" [(ngModel)]="userStringId" name="userStringId" />
    </div>
    <div class="mb-2">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" [(ngModel)]="userPass" name="userPass" />
    </div>
    <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
    <div class="form-btn d-flex flex-row justify-content-center mt-3">
      <button type="submit" class="btn btn-primary">Sign In</button>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-center mt-3 sign-up-container">
      <span>Don't have an account? </span>
      <span class="mx-1 sign-up-btn" (click)="showSignup()">Sign Up here</span>
    </div>
  </form>
  <form *ngIf="isSignup" class="mt-2 sign-in-form" (submit)="onSignUp(); $event.preventDefault()">
    <div class="sign-in-title text-center">Sign Up</div>
    <div class="mb-2">
      <label class="form-label">User Id</label>
      <input type="text" class="form-control" [(ngModel)]="userStringId" name="userStringId" />
    </div>
    <div class="mb-2">
      <label class="form-label">User Name</label>
      <input type="text" class="form-control" [(ngModel)]="userName" name="userName" />
    </div>
    <div class="mb-2">
      <label class="form-label">User Email</label>
      <input type="text" class="form-control" [(ngModel)]="userEmail" name="userEmail" />
    </div>
    <div class="mb-2">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" [(ngModel)]="userPass" name="userPass" />
    </div>
    <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
    <div class="form-btn d-flex flex-row justify-content-center mt-3">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-center mt-3 sign-up-container">
      <span>Already have an account? </span>
      <span class="mx-1 sign-up-btn" (click)="showLogin()">Sign in here</span>
    </div>
  </form>
</div>
