<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let column of displayedColumns">{{ column }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let column of displayedColumns">
          <ng-container *ngIf="column === 'Delete Entry' && showDelete; else cellData">
            <button class="btn btn-danger btn-sm" (click)="onDeleteClick(row)">Delete</button>
          </ng-container>
          <ng-template #cellData>
            {{ row[column] }}
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
